.header {
 	background: #ffffff url("../img/bg-header.jpg");
 	background-size: cover;
	padding-top: 214px;
 	padding-bottom: 207px;

 	&__title {
 		width: 712px;
 		font-size: 60px;
 		line-height: 75px;
 		font-weight: 100;
 		text-align: center;
 		margin: 0 auto;
 		letter-spacing: 1.5px;
 	}

 	&__btn-play {
 		display: block;
 		background: url("../img/play.png");
 		width: 59px;
 		height: 59px;
 		text-decoration: none;
	    border: none;
	    outline: none;
	    cursor: pointer;
 		margin: 0 auto;
 		margin-top: 41px;
 		margin-bottom: 39px;
 	}

 	&__btn-try {
 		display: block;
 		width: 190px;
 		padding: 18px;
 		border-radius: 3px;
 		font-weight: 400;
 		color: @white;
 		background: @bittersweet;
 		text-decoration: none;
	    border: none;
	    outline: none;
	    cursor: pointer;
 		margin: 0 auto;
 		text-transform: uppercase;
 		letter-spacing: 2px;
 	}

 	&__text {
 		font-size: 14px;
		font-weight: 400;
 		text-align: center;
 		margin-top: 12px;
 	}		
}

@media @mobile-widths {
.header {

	padding-bottom: 170px;

	&__title {
 		width: auto;
 		padding-left: 10px;
 		padding-right: 10px;
 		font-size: 40px;
 		line-height: 75px;
 	}

}
}
